<!-- your html code here -->
<div class="container">
    <div class="title">
        <h1>Porfolio</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../assets/img/big-project-image.png" alt="cardImage">
                <div class="card-body">
                    <h5 class="card-title text-primary"> Project Title</h5>
                    <p>Lorem ipsum dolor sit, consectetur adipisicing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="" alt="cardImage">
                <div class="card-body">
                    <h5 class="card-title text-primary"> Project Title</h5>
                    <p>Lorem ipsum dolor sit, consectetur adipisicing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../assets/img/big-project-image.png" alt="cardImage">
                <div class="card-body">
                    <h5 class="card-title text-primary"> Project Title</h5>
                    <p>Lorem ipsum dolor sit, consectetur adipisicing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
</div>
