<!-- your html code here -->
<div class="container">
    <div class="title">
        <h1>Porfolio</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card text-left border-0">
                <img class="card-img-top" src="https://picsum.photos/700/400" alt="cardImage">
                <div class="card-body px-0">
                    <h5 class="card-title text-primary"> Project Title</h5>
                    <p style="font-size: 0.9rem;">Lorem ipsum dolor sir amet, consectetur adipiscing elit.
                    Nam viverra euismod odio,gravida pallentesque urna varius vitae</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card text-left border-0">
                <img class="card-img-top" src="https://picsum.photos/700/400" alt="cardImage">
                <div class="card-body px-0">
                    <h5 class="card-title text-primary"> Project Title</h5>
                    <p>Lorem ipsum dolor sit, consectetur adipisicing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card text-left border-0">
                <img class="card-img-top" src="https://picsum.photos/700/400" alt="cardImage">
                <div class="card-body px-0">
                    <h5 class="card-title text-primary"> Project Title</h5>
                    <p class=>Lorem ipsum dolor sit, consectetur adipisicing elit. Nam viverra euismod odio, gravida pallentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
</div>
