<div class="container bg-white">
    <div class="row">
        <div class="col-12 col-md-5 text-center py-3 order-1 order-md-0">
            <img src="https://picsum.photos/300/300?1" alt="..." class="img-fluid rounded-circle">
        </div>
        <div class="col-12 col-md-7">
            <div class="alert alert-white" role="alert">
                <h1>This firt heading <span class="text-secondary">will cath your eyes</span>
                </h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel amet, vero eos dignissimos odit
                assumenda
                labore at ratione sit voluptatum. Ducimus neque laudantium, ipsa nam repellendus non nemo
                laborum
                sed.
            </div>
        </div>
    </div>
</div>