<!-- your html code here -->
<div class="bg-image d-flex justifi-content-center align-items-center"
    style="background-image: url('https://1.bp.blogspot.com/-jHKxRx5IWPM/XZmnu0jms_I/AAAAAAAA3Y4/epsP1QU-g2sSVyosJaTqYJgPNbCzS1KtwCLcBGAsYHQ/s1600/wallpaper-4k-ciudad-noche.jpg');height: 100vh; width: 100%; background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid">
        <h1 class="bg-white text-center">One Page Wonder</h1>
        <h2 class="bg-white text-center">Will Knock Your Socks Off</h2>
    </div>
</div>